

.background {
/*background: url("april.jpg");*/
	width: 1024px;
	position: relative;
}

.backgroundme {
	width: 1024px;
	/*position: relative;*/
}

/*.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  width: 500px;
}*/

.overimage {
position: absolute;
width: 1024px;
right: 200px;
bottom: 0px;
}




.container {
	width: 1024px;
	padding: 0px 200px;
}

h1 {
	font-size: 100px;
    font-family: 'Didot';
    width: 100%;
    font-weight: 800;
    line-height: 0%;
}

h2 {
	font-family: 'Didot';
	font-size: 50px;
	font-weight: 400;
	line-height: 0%;
}

h5 {
color: gray;
line-height: 0%;
font-family: 'Open Sans', Helvetica, sans-serif;
}


p {
	font-family: 'Open Sans', Helvetica, sans-serif;
	display: block;
	font-weight: 300;
}

li {font-family: 'Open Sans', Helvetica, sans-serif;
	display: block;
	font-weight: 300;
	
}
.column1 {
	width: 30%;
	float: left;
	padding: 10px;
}

.column2 {
	width: 30%;
	float: left;
	padding: 10px;
}

.column3 {
	width: 30%;
	float: left;
	padding: 10px;
}

.three-columns {
	padding: 0px 15px;	
}


.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

