
.container {
width: 1024px;
padding: 0px 200px;
}

h1 {
	font-family: cursive;
}

h2 {
	font-family: cursive;
}

h5 {
color: gray;

}

p {
	font-family: Didot;
}

.column1 {
	width: 30%;
	float: left;
	padding: 10px;
}

.column2 {
	width: 30%;
	float: left;
	padding: 10px;
}

.column3 {
	width: 30%;
	float: left;
	padding: 10px;
}

.three-columns {
	padding: 0px 15px;	
}


.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

